<div class="container-fluid">
<hello name="{{ name }}"></hello>
<h1>Expense Management</h1>

    <input type="file" (change)="uploadFile($event)" />
    <div>{{ uploadPercent | async }}</div>
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>

    <br/>

<expenserow></expenserow>
<ng-template  ngFor let-item [ngForOf]="dbexpenserows | async" let-i="index" >
<expenserow [value]='item'></expenserow> <button (click)="deleteItem(item.key)">Delete</button>
</ng-template>

    <expenserow #newitem [value]="{}"></expenserow>
    <button (click)="addItem(newitem.value)">Add</button>
    <button (click)="deleteEverything()">Delete All</button>

</div>
